{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/chart.css' %}">

<body>
    <div class="container">
        <h1>The Plot Result according to your input data is :- </h1>
        <br>
        <div class="card text-center">
            {{graph|safe}}
        </div>

    </div>
</body>